<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.de5.yeoh.bingocv.mapper.SkillMapper">

    <resultMap id="BaseResultMap" type="net.de5.yeoh.bingocv.model.domain.Skill">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="keywords" column="keywords" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,keywords
    </sql>
</mapper>
